.calculator {
  height: calc(100% - 95px);
  display: flex;
}

.form_container {
  padding: 30px 15px;
  border-right: 10px solid #FAFAFA;
  overflow: auto;
  max-width: 300px;

  h3 {
    margin: 0 0 20px;
    padding: 0;
    text-align: center;
  }

  .tips {
    font-size: 13px;
    margin: 15px 0;
    padding: 0 5px;
    list-style: none;

    &:before {
      content: "Hints:";
      display: block;
      font-weight: bold;
      margin: 0 0 5px;
      font-size: 14px;
    }

    li {
      padding: 0 0 5px;
      line-height: 150%;

      strong {
        margin: 0 5px 0 0;
      }

      img {
        vertical-align: middle;
      }
    }
  }
}

form {
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  align-items: flex-end;

  .form_group {
    display: flex;
    flex-direction: column;
    width: 50%;

    &:last-child:nth-child(even) {
      width: 100%;
    }

    .form_select {
      padding: 5px 7px;
    }

    .form_input {
      padding: 6px 7px;
    }

    .form_select, .form_input {
      display: block;
      margin: 0 5px;
      font-size: 15px;
      box-sizing: border-box;
      border: 1px solid #BDBDBD;
      outline: 0;
    }

    label {
      font-weight: bold;
      font-size: 14px;
      margin: 10px 5px 5px;
    }
  }
}