.calculator {
  height: calc(100% - 95px);
  display: flex;
}

.form_container {
  padding: 30px 15px;
  border-right: 10px solid #FAFAFA;

  h3 {
    margin: 0 0 20px;
    padding: 0;
    text-align: center;
  }
}

form {
  display: flex;
  max-width: 300px;
  margin: 0 auto;
  flex-wrap: wrap;

  .form_group {
    display: flex;
    flex-direction: column;
    width: 50%;

    &:last-child:nth-child(even) {
      width: 100%;
    }

    .form_select {
      padding: 5px 7px;
    }

    .form_input {
      padding: 6px 7px;
    }

    .form_select, .form_input {
      display: block;
      margin: 0 5px;
      font-size: 15px;
      box-sizing: border-box;
      border: 1px solid #BDBDBD;
      outline: 0;
    }

    label {
      font-weight: bold;
      font-size: 14px;
      margin: 10px 5px 5px;
    }
  }
}