.mob_container {
  flex: 1;
  position: relative;
  overflow: auto;

  input {
    display: block;
    width: 100%;
    box-sizing: border-box;
    border: 0;
    outline: 0;
    border-bottom: 10px solid #FAFAFA;
    font-size: 16px;
    padding: 15px;
  }

  .mob_list {
    position: absolute;
    top: 58px;
    bottom: 0;
    right: 0;
    left: 0;
    overflow: auto;

    & > div {
      padding: 10px 15px;
      font-size: 14px;
      border-bottom: 1px solid #FAFAFA;
      cursor: pointer;

      &:hover {
        background: rgba(0, 0, 0, 0.01)
      }
    }
  }

  .header {
    border-bottom: 10px solid #FAFAFA;

    .goback {
      font-weight: bold;
      font-size: 42px;
      line-height: 19px;
      color: #424242;
      padding: 15px;
      cursor: pointer;
      display: inline-block;
      border-right: 10px solid #FAFAFA;
      vertical-align: middle;
    }

    .title {
      display: inline;
      vertical-align: middle;
      padding: 0 0 0 15px;
      font-weight: bold;
    }
  }
  .about_mob {
    display: flex;
    align-items: center;
    padding: 15px 30px;
    border-bottom: 10px solid #FAFAFA;

    .image_container {
      padding: 15px 30px;

      img {
        width: 100%;
        max-width: 150px;
      }
    }

    .mob_data {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;

      ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        flex-direction: column;
      }

      & > ul {
        margin: 0 0 15px
      }

      li {
        padding: 5px 0;

        strong {
          display: inline-block;
          width: 70px;
          text-align: right;
          margin: 0 10px 0 0;
        }
      }

      .resistance {
        flex: 1;

        .title {
          text-align: center;
          font-weight: bold;
          font-size: 16px;
          margin: 0 auto 15px;
          min-width: 150px;
        }

        .resistance_wrap {
          display: flex;
          flex-direction: row;
          justify-content: space-evenly;
        }
      }
    }
  }

  .dmg_container {
    h3 {
      margin: 20px 0 10px;
      text-align: center;
    }
  }

  .dmg_table {
    padding: 10px 20px 0;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    table {
      // flex: 1;
      margin: 0 15px 20px;
      font-size: 14px;
    }

    table, th, td {
      border: 1px solid #eee;
    }

    th, td {
      padding: 10px;
    }
  }
}